body {
    background-color: #C6CECE;
}

.rectangle {
    height: 300px;
    width: 1000px;
    background-color: #FFFFF0;
    margin: 0 auto; 
    display: block;
    position: relative;
    overflow:hidden;
}

h1 {
    margin-left: 35px;
    margin-top: 60px;
    font-family: verdana;
    position: relative;
}

#rose {
    margin-top: 205px;
    margin-left: 150px;
}
#vert {
    margin-top: -330px;
    margin-left: 1000px
}
#bleu {
    margin-top: 180px;
    margin-left: 450px
}
#gris {
    margin-top: -200px;
    margin-left: 1000px
}